[run]
omit =
    API/*
    handlers/base_resource_handler.py
    handlers/code_handler.py
    handlers/dataset_handler.py
    handlers/model_handler.py
    resource_handlers.py
    metrics/*
    model_evaluator.py
    tests/*

