[run]
omit =
    # Test files should not be measured for coverage
    tests/*
    
    # FastAPI server and CLI glue
    server.py
    run.py
    API/routes.py
    API/entry.py

    # External integrations & AWS-dependent code
    API/dynamo.py
    API/storage.py
    

    metrics/performance_claims_metric.py
    metrics/ramp_up_time_metric.py
    metrics/reproducibility_metric.py
    metrics/reviewedness_metric.py
    metrics/treescore_metric.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":